
{
    "jsonrpc": "2.0",
    "id": 1,
    "method": "set",
    "params": {
        "commands": 
        [
            {
                "action": "update",
                "path": "/network-instance[name={{ network_instance }}]/interface[name={{ interface_name }}]"
            }
        ]
    }
}