{
    "jsonrpc": "2.0",
    "id": 1,
    "method": "get",
    "params": {
        "commands":
        [
            {
                "path": "/system/name",
                "datastore": "state"
            }
        ]
    }
}
