{% set commands = [] %}

{# Configure main interfaces #}
{% for interface_name, interface in interface.items() %}

    {% set _ = commands.append({
        'action': 'update',
        'path': '/interface[name=' + interface_name + ']/admin-state',
        'value': interface.admin_state
    }) %}

    {% set _ = commands.append({
        'action': 'update',
        'path': '/interface[name=' + interface_name + ']/description',
        'value': interface.description
    }) %}

    {# Configure IPv4 subinterfaces #}
    {% for subinterface_index, subinterface in interface.subinterface.items() %}

        {% set _ = commands.append({
            'action': 'update',
            'path': '/interface[name=' + interface_name + ']/subinterface[index=' + subinterface_index + ']/admin-state',
            'value': subinterface.admin_state
        }) %}

        {% set _ = commands.append({
                'action': 'update',
                'path': '/interface[name=' + interface_name + ']/subinterface[index=' + subinterface_index + ']/ipv4/admin-state',
                'value': subinterface.ipv4.admin_state
        }) %}

        {% set _ = commands.append({
                'action': 'update',
                'path': '/interface[name=' + interface_name + ']/subinterface[index=' + subinterface_index + ']/ipv4/address[ip-prefix=' + subinterface.ipv4.address + ']'
        }) %}

    {% endfor %}

{% endfor %}

{# Configure network instances #}
{% for network_instance_name, network_instance in network_instance.items() %}

    {# Configure network instance interface bindings #}
    {% for interface_name in network_instance.interface %}

        {% set _ = commands.append({
            'action': 'update',
            'path': '/network-instance[name=' + network_instance_name + ']/interface[name=' + interface_name + ']'
        }) %}

    {% endfor %}

    {# Configure network instance ospf instances #}
    {% for ospf_instance_name, ospf_instance in network_instance.protocols.ospf.items() %}

        {% set _ = commands.append({
            'action': 'update',
            'path': '/network-instance[name=' + network_instance_name + ']/protocols/ospf/instance[name=' + ospf_instance_name + ']/admin-state',
            'value': ospf_instance.admin_state
        }) %}

        {% set _ = commands.append({
            'action': 'update',
            'path': '/network-instance[name=' + network_instance_name + ']/protocols/ospf/instance[name=' + ospf_instance_name + ']/version',
            'value': ospf_instance.version
        }) %}

        {% set _ = commands.append({
            'action': 'update',
            'path': '/network-instance[name=' + network_instance_name + ']/protocols/ospf/instance[name=' + ospf_instance_name + ']/router-id',
            'value': ospf_instance.router_id
        }) %}

        {# Configure network instance ospf instance areas and interfaces #}
        {% for area_id, area in ospf_instance.area.items() %}

            {% set _ = commands.append({
                'action': 'update',
                'path': '/network-instance[name=' + network_instance_name + ']/protocols/ospf/instance[name=' + ospf_instance_name + ']/area[area-id=' + area_id + ']'
            }) %}

            {% for interface_name, interface in area.interface.items() %}

                {% set _ = commands.append({
                    'action': 'update',
                    'path': '/network-instance[name=' + network_instance_name + ']/protocols/ospf/instance[name=' + ospf_instance_name + ']/area[area-id=' + area_id + ']/interface[interface-name=' + interface_name + ']'
                }) %}

                {% set _ = commands.append({
                    'action': 'update',
                    'path': '/network-instance[name=' + network_instance_name + ']/protocols/ospf/instance[name=' + ospf_instance_name + ']/area[area-id=' + area_id + ']/interface[interface-name=' + interface_name + ']/interface-type',
                    'value': interface.interface_type
                }) %}

                {% set _ = commands.append({
                    'action': 'update',
                    'path': '/network-instance[name=' + network_instance_name + ']/protocols/ospf/instance[name=' + ospf_instance_name + ']/area[area-id=' + area_id + ']/interface[interface-name=' + interface_name + ']/passive',
                    'value': interface.passive if interface.passive is defined else 'false'
                }) %}

            {% endfor %}

        {% endfor %}

    {% endfor %}

{% endfor %}

{{ commands | tojson }}