
{
    "jsonrpc": "2.0",
    "id": 1,
    "method": "set",
    "params": {
        "commands": 
        [
            {
                "action": "update",
                "path": "/interface[name={{ interface_name }}]/admin-state",
                "value": "{{ admin_state }}"
            },
            {
                "action": "update",
                "path": "/interface[name={{ interface_name }}]/description",
                "value": "{{ description }}"
            }        
        ]
    }
}
